<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>MOVIEWORLD</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <img src="https://media.licdn.com/dms/image/D4D03AQEwZFZVzdJImQ/profile-displayphoto-shrink_800_800/0/1678256548623?e=2147483647&v=beta&t=T81nQ4cT40gnXlLf4TcCD0XT286RT0uSuNEmGuMrzo4" class="logo">
    </div>
    <div class="row">
        <div class="col">
            <h1>MOVIE WORLD</h1>
            <p>
                You can explore any movie and enjoy with your family.
            </p>
            <button type="button">
                <a href="/login" style="text-decoration: none; color: inherit;">Login</a>
            </button>
        </div>
        <div class="card card1">
            <h5>custody</h5>
        </div>
        <div class="card card2">
            <h5>virupaksha</h5>
        </div>
        <div class="card card3">
            <h5>colour photo</h5>
        </div>
        <div class="card card4">
            <h5>hidimba</h5>
        </div>
    </div>
</div>
</body>
</html>
